/* https://youtu.be/Y2NNmhrsoNc 생활코딩-웹폰트 / 구글 폰트 https://fonts.google.com/?authuser=1&sort=popularity */
/* https://d2.naver.com/helloworld/4969726 틀 잡은 뒤 폰트는 웹 폰트-> woff2.0 으로 바꿔서 용량 줄이기*/
/* https://youtu.be/IvXuk5Sh4GE  햄버거 메뉴 참고 영상*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

div.header{
	display:table;
	height: 73px;
	width:100%;
}

div.mainphoto{
	width : 100%;
	margin-bottom:40px;
}

/* 대문(메인) 사진 */
div.mainphoto img{
	width : 100%;
}

.tip{
	position: absolute;
	height:30%;
	bottom:0px;
}

.topright{
	position:absolute;
	right:24px;
	top:23px;
}
.topright a{
	margin-left:14px;
}
.topright a:hover{
	opacity:30%;
}
.main{
	transform:translateX(50%) translateY(-49.9%);
	position: absolute;
	top:50%;
	right:50%;
}
table{
	border: 1px solid black;
}

body{
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}/* 링크 밑줄,보라색 없애기 */

.sidebar a:hover{
	opacity:30%;
}

input#menuicon{/* 메뉴 체크박스 안 보이게 */
	display:none;
	
}
input#menuicon + label{/* 메뉴 영역 선언 */
	display:block;/*구역선언*/
	top:30px;
	left:35px;
	width: 30px;	
    margin-right: -30px;
	height: 20px;
	position:relative;
	cursor:pointer;/* 마우스 올라가면 커서 모양 바뀌게 */
}
input#menuicon + label span{/* 햄버거 선 밑 그림 */
	display:block;
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 30px;
	background: #000;
	transition:all .35s;
}

input#menuicon + label span:NTH-CHILD(1){/* 첫 번째 선 */
	top:0;	z-index: 2;
	transition:all .35s;
}
input#menuicon + label span:NTH-CHILD(2){/* 두 번째 선 */
	top:50%;	z-index: 2;
	transform:translateY(-50%);
	transition:all .35s;
}
input#menuicon + label span:NTH-CHILD(3){/* 세 번째 선 */
	bottom: 0;	z-index: 2;
	transition:all .35s;
}

/* 메뉴가 클릭 되었을 떄 */
input#menuicon:CHECKED + label{
	z-index: 2;
	position:fixed;
}

input#menuicon:CHECKED + label span{
	background: black;
	height: 2px;/* X자 너무 커보여서 사이즈 조정용으로 */
	width: 70%/* X자 너무 커보여서 사이즈 조정용으로 */
}

input#menuicon:CHECKED + label span:NTH-CHILD(1){/* 첫 번째 선 */
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}
input#menuicon:CHECKED + label span:NTH-CHILD(2){/* 두 번째 선 */
	opacity:0;
}
input#menuicon:CHECKED + label span:NTH-CHILD(3){/* 세 번째 선 */
	bottom: 50%;
	transform:translateY(50%) rotate(-45deg);
}
div.sidebar{
	padding-top: 100px;
	width:225px;
	height: 100%;
	background: white;
	opacity: 100%;
	position: fixed;
	top: 0;
	left: -225px;
	z-index:1;/* 노출되는순서인듯 */
	transition:all .35s;
}
div.sidebar dd{
	font-family: 'Noto Sans', sans-serif;
}
div.sidebar ul{
	opacity: 30%;
}
input#menuicon:CHECKED + label + div {
	left:0;
}

/* 로고 */
div.logo{
	display:table-cell;
	vertical-align:middle;
	text-align: center;
	z-index: 0;
}

div.logo a:hover{
	opacity:30%;
}

.center{
	position:table;
	text-align:center;
	margin-left: 12%;
	margin-right: 12%;
	height:870px;
}
.center form{
	margin-top:10%;
}
.center div{
	display:inline-block;
	position:table-cell;
	width:300px;
	height:420px;
	padding-bottom:97px;
    margin-left: 16px;
    margin-right: 16px;
	font-size:17px;
	font-family: 'Noto Sans KR', sans-serif;
}
.center div img:hover{
	opacity:30%
}
.center div img{
	width:100%;
	height:100%;
}